/*********************************
GLOBAL SETUP
*********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-s: .8rem;
    --font-m: 1rem;
    --font-l: 1.5rem;
    --black: #000000;
    --white: #ffffff;
    --dark: #141922;
    --dark-grey: #282828;
    --grey: #a3a3a3;
    --grey-med: #5a5a5a;
    --light-grey: #c1c1c1; 
    --lime: #adff2f;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-family: 'Montserrat', sans-serif;
    
    /* mobile viewport bug fix */
    height: -webkit-fill-available;
}

ul {
    list-style: none;
}


/*********************************
UTILITY
*********************************/

.d-flex {
    display: flex;
}

.rounded {
    border-radius: 50%;
}

h2 {
    font-size: var(--font-l);
    color: var(--white);
    font-weight: 700;
}

h3 {
    font-size: var(--font-m);
    color: var(--white);
    font-weight: 700;
}

h4 {
    font-size: var(--font-s);
    color: var(--grey);
    font-weight: 600;
}


/*********************************
LAYOUT
*********************************/

.wrapper {
    width: 100%;
    height: 100vh;

    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;

    background-color: red;
    overflow: hidden;
}

main {
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}

.no-possible {
    display: none;
}

nav {
    width: 230px;
    height: calc(100vh - 95px);
    background-color: var(--black);
    z-index: 1100;
}

.main-content {
    width: calc(100% - 230px);
    height: calc(100vh - 95px);
    background-color: var(--dark);
    color: var(--white);
}

.upg-bar {
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 95px;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 900;
    padding: 0 25px;
}

.inner-content {
    height: calc(100vh - 95px);
    overflow: auto;
    padding: 120px 20px;
}

.control-bar {
    width: 100%;
    height: 95px;
    background-color: var(--dark-grey);
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2000;
}

section h2 {
    padding-top: 2rem;
    padding-bottom: .5rem;
}

/*********************************
COMPONENT
*********************************/

.logo-small {
    display: none;
    cursor: pointer;
}

.logo-large {
    cursor: pointer;
}

.btn-upg {
    border: 1.5px solid var(--white);
    background-color: transparent;
    padding: 15px 40px;
    border-radius: 50px;
    text-align: right;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.btn-upg:hover {
    transform: scale(1.1);
    transition-duration: .3s;
}

.card {
    flex-direction: column;
    text-align: center;
    width: calc((100% / 6) - 15px);
    gap: 10px;
}

.card div.d-flex {
    position: relative;
}

.card div img {
    width: 100%;
    height: 100%;
}

.hover-card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.hover-card i {
    font-size: 2.5rem;
    display: none;
}

.card:hover .hover-card, .card:hover .hover-card i {
    display: flex;
}

.card:hover h3 {
    color: var(--lime);
}

.cards {
    flex-flow: row wrap;
    padding: 25px 0;
    gap: 15px;
}


/*********************************
OTHER CUSTOMIZATION
*********************************/

/* Navbar */
nav {
    flex-direction: column;
    justify-content: flex-start;
    color: var(--grey);
    position: relative;
    padding: 20px 20px;
}

nav img {
    width: 80%;
}

.menu {
    padding-top: 30px;
    position: relative;
}

.menu li:hover:before {
    display: block;
    position: absolute;
    left: -20px;
    content: '';
    background: var(--lime);
    height: 35px;
    width: 3px;
    margin-top: -4px;
}

.menu li:hover .menu-icon {
    fill: var(--white);
    color: var(--white);
    cursor: pointer;
}

.menu li:hover p {
    color: var(--white);
    cursor: pointer;
}

.menu-icon {
    width: 24px;
    fill: var(--grey);
}

nav li svg {
    color: var(--white);
    vertical-align: top;
}

nav li p {
    line-height: 28px;
    font-size: var(--font-s);
    font-weight: 600;
    display: inline;
    vertical-align: middle;
    padding-left: 5px;
}

.playlist {
    flex-direction: column;
    height: calc(100% - 280px);
    overflow: auto;
}

.playlist li {
    padding-top: 10px;
}

.playlist li:hover p {
    color: var(--white);
    cursor: pointer;
}

.playlist-title {
    padding-top: 25px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: var(--font-s);
    text-transform: uppercase;
    color: var(--white);
}

.add-playlist {
    background-color: var(--grey);
    padding: 8px 0;
    margin-left: 5px;
    margin-right: 5px;
}

.playlist li:hover .add-playlist {
    background-color: var(--white);
    cursor: pointer;
}

.add-playlist i {
    font-size: 1.2rem;
    color: #000000;
    padding: 10px;
}

.profile-box {
    padding-top: 15px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.install-app-box {
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.profile {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0 10px 25px;
    background-color: var(--black);
    width: 100%;
}

.profile-img svg {
    width: 30px;
    height: 30px;
    fill: var(--white);
    background-color: var(--grey);
    border-radius: 50px;
}

.install-app svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    fill: var(--grey);
}


/* Inner menù */
.inner-menu {
    gap: 1.2rem;
    justify-content: center;
    padding-bottom: 40px;
    height: 30px;
    flex-wrap: wrap;
}

.inner-menu li {
    font-size: var(--font-s);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--grey);
    cursor: pointer;
}

.inner-menu :first-child:after {
    display: block;
    margin: 3px auto;
    content: '';
    background: var(--lime);
    height: 2px;
    width: 30px;
}

.inner-menu :first-child {
    color: var(--white);
}

.inner-menu li:hover:after {
    display: block;
    margin: 3px auto;
    content: '';
    background: var(--lime);
    height: 2px;
    width: 30px;
}

.inner-menu li:hover {
    color: var(--white);
}

/* Footer */
.control-bar {
    color: var(--white);
}

.inner-control-bar {
    height: 100%;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    z-index: 3000;
}

.inner-control-bar-sx {
    align-items: center;
    flex-basis: 25%;
}

.inner-control-bar-center {
    align-items: center;
    flex-direction: column;
    flex-basis: 50%;
    gap: 10px;
}

.inner-control-bar-dx {
    align-items: center;
    flex-basis: 25%;
    gap: 25px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.inner-control-bar-sx img {
    width: 70px;
    padding-right: 15px;
}

.favourite {
    padding-left: 1rem;
    color: var(--grey);
    font-size: 1.25rem;
}

.favourite :first-child {
    padding-right: 15px;
}

.control {
    font-size: 1.5rem;
    gap: 40px;
    align-items: center;
}

.control i {
    cursor: pointer;
}

.play {
    font-size: 2.5rem;
}

.time-bar {
    align-items: center;
    font-weight: 600;
    width: 90%;
}

.bar {
    height: 5px;
    width: 80%;
    border-radius: 20px;
    background-color: var(--grey-med);
    margin: 0 20px;
    position: relative;
    cursor: pointer;
}

.bar:after {
    display: block;
    position: absolute;
    content: '';
    background: var(--light-grey);
    height: 5px;
    width: 25%;
    border-radius: 20px 0 0 20px;
}

.inner-control-bar-dx i {
    font-size: 1rem;
}

.inner-control-menu {
    align-items: center;
    gap: 25px;
}

.vol {
    height: 5px;
    width: 120px;
    border-radius: 20px;
    background-color: var(--grey-med);
    position: relative;
}

.vol:after {
    display: block;
    position: absolute;
    content: '';
    background: var(--light-grey);
    height: 5px;
    width: 30px;
    border-radius: 20px 0 0 20px;
}

.vol:hover:after, .bar:hover:after {
    background-color: var(--lime);
}

.brano-title-mobile {
    display: none;
}


/*********************************
MEDIA QUERY
*********************************/
@media screen and (max-width:1200px) {
    .card {
        width: calc((100% / 4) - 15px);
    }
}

@media screen and (max-width:768px) {
    .card {
        width: calc((100% / 2) - 15px);
    }
}

@media screen and (max-width:576px) {
    .menu li p, .playlist-title, .playlist li, .install-app-box h4, .profile-box h3 {
        display: none;
    }

    .menu li {
        padding-bottom: 15px;
    }

    .install-app {
        padding-left: 4px;
        cursor: pointer;
    }

    .logo-small {
        display: flex;
        width: 30px;
        margin-left: -3px;
    }

    .logo-large {
        display: none;
    }

    nav {
        width: 60px;
/*         height: calc(100dvh - 95px); */
        height: 100dvh;
    }

    .main-content {
        width: calc(100% - 60px);
    }

    .inner-menu {
        gap: 0.8rem;
        padding-bottom: 50px;
    }

    .profile {
        bottom: 85px;
        padding-left: 16px;
    }

    .profile-img {
        cursor: pointer;
    }

    .control-bar {
        height: 180px;
    }

    .inner-control-bar {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;
    }

    .inner-control-bar-sx {
        display: none;
    }

    .inner-control-bar-dx {
        filter: brightness(.6);
        cursor: pointer;
    }

    .inner-control-bar-dx:hover {
        filter: brightness(1);
    }

    .brano-title-mobile {
        display: flex;
        padding-bottom: 10px;
        font-size: calc(var(--font-s) - .1rem);
        filter: brightness(.6);
    }

    .time-bar {
        width: 120%;
    }

    .upg-bar {
        display: none;
    }

    .inner-content {
        padding-top: 20px;
        padding-bottom: 20px;
        height: calc(100dvh - 180px);
    }
}

@media screen and (max-width:310px) {
    .no-possible {
        display: flex;
        align-items: center;
        background-color: var(--black);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3000;
    }

    .no-possible h4 {
        text-align: center;
        font-size: var(--font-m);
        padding: 0 20px;
    }
}